* {
    margin: 0;
    padding: 0;
} 

{
body
{

background-color: blanchedalmond;
position: absolute;
font-family: Georgia, 'Times New Roman', Times, serif;
color: navy;

}

header, 
{

position: fixed;
font: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

h1, 
h2
{

 font: bold;
 font-family: Georgia, 'Times New Roman', Times, serif;
color: gold; 
margin: 20px;

}

h4
 {
font: bold;
font-family:Georgia, 'Times New Roman', Times, serif;
color: white;
}
li
{

    display: inline;
    padding: 10px 30px;
    text-decoration: underline;
}

footer
{

position: fixed;
font: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

img 
{
display: block;
margin: 20px auto;

}



}